*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    border: solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;


}


h1{
    text-align: center;
    font-style: italic;
    font-size: 40px;
    margin-top: 2rem;
}

main {
    flex-grow: 1;
}

#displayRGB{
    padding: 0.8rem;
    text-align: center;
    margin-top: 3rem;
    font-size: 30px;
    height: 4rem;
}

#infoBar{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

#reset{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-left: 6rem;
    padding: 7px;
    height: 2.7rem;
    width: 15rem;
    background-color: black;
    color: white;
}

#message{
    font-size: 30px;
    color: magenta;
    
}


ul{
    position: absolute;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 10rem;
    margin-left: 10rem;
    margin-top: 5rem;
    color: black;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style:none;
}

#container{
    height: 60rem;
}


.square{
    border-radius: 40px;
    border: solid 1px black;
    height: 15rem;
    width: 15rem;
    display: inline-block;
    margin-top: 12rem;
    margin-left: 5.8rem;
    background-color: black;
}


footer{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

h3 {
    background-color: black;
}

#time {
    font-size: 50px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #47035c, 0 0 40px #47035c, 0 0 50px #47035c, 0 0 60px #47035c, 0 0 70px #47035c;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #d904ec, 0 0 40px #d904ec, 0 0 50px #d904ec, 0 0 60px #d904ec, 0 0 70px #d904ec, 0 0 80px #d904ec;
    }
  }

