*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    border: solid black;
   background-color: white;
}

h1{
    text-align: center;
    font-style: italic;
    font-size: 40px;
    margin-top: 2rem;
}



#displayRGB{
    padding: 0.8rem;
    text-align: center;
    margin-top: 3rem;
    font-size: 30px;
    height: 4rem;
}

#infoBar{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

#reset{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-left: 6rem;
    padding: 7px;
    height: 2.7rem;
    width: 15rem;
    background-color: black;
    color: white;
}

#message{
    font-size: 30px;
    color: magenta;
    
}


ul{
    position: absolute;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 10rem;
    margin-left: 10rem;
    margin-top: 5rem;
    color: black;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style:none;
}

#container{
    height: 60rem;
}


.square{
    border-radius: 40px;
    border: solid 1px black;
    height: 15rem;
    width: 15rem;
    display: inline-block;
    margin-top: 12rem;
    margin-left: 5.8rem;
    background-color: black;
}


footer{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-around;
    background-color:black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}