*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    border: solid black;
   background-color: grey;
}

h1{
    text-align: center;
    font-style: italic;
    font-size: 40px;
}

main{
    min-height: 100vh;
}

#displayRGB{
    text-align: left;
    margin-left: 35rem;
    margin-top: 3rem;
    font-size: 30px;
    height: 4rem;
}

#infoBar{
    height: 50px;
    border: solid black;
    text-align: center;
    background-color: white;
}

#reset{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-left: 15rem;
    padding: 7px;
    height: 2.7rem;
    width: 15rem;
}

#message{
    display: inline;
}


#container{
    height: 60rem;
}


.square{
    border-radius: 160px;
    margin-top: 20rem;
    margin-left: 10rem;
    border: solid 2px black;
    height: 10rem;
    width: 10rem;
    display: inline-block;
    background-color: white;

}

footer{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-around;
    background-color:black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}